# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Airflow
logs/
plugins/
airflow-worker.pid
airflow-webserver.pid
airflow-scheduler.pid
standalone_admin_password.txt

# IDE
.idea/
.vscode/
*.swp

# Docker
postgres-db-volume/
